@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  box-sizing: border-box;
}

main {
  width: 100%;
  margin: 0 auto;
}
#form {
  display: block;
  height: 100%;
}

.container {
  padding: 20px;
  background: #fff;
}
.todo-box{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: rgb(233, 230, 230);
  font-family: 'Roboto', sans-serif;
  color: black;


}
.todo-box button{
  background-color: rgb(233, 230, 230);
  border: none;
  font-size: 20px;
  float: right;
  padding: 0%;
  color: red;
}
.todo-box button:hover{
  opacity: 0.5;
}
.todo-box button:focus{
  outline: none;
}
.todo-container{
  
}
.login-form {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.3);
  height: 100vh;
}
.btns {
  padding: 10px;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.login-form-title {
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  display: block;
  width: 100%;
  background-color: teal;
  padding: 10px;
  margin-bottom: 50px;
  font-family: 'Amaranth', sans-serif;
}

.icon {
  padding: 15px;
  background: teal;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-field {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(161, 153, 153, 0.26);
  font-family: 'Miriam Libre', sans-serif;
}

.input-field:focus {
  border: 1px solid teal;
}
#logout-btn {
  background-color: rgb(2, 95, 95);
}
.btn {
  background-color: teal;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
}

.btn:hover,
.btn:focus {
  opacity: 1;
  outline: none;
}
p {
  text-align: center;
  color: black;
  font-family: 'Amaranth', sans-serif;
}
a {
  color: teal;
  text-decoration: none;
  font-size: 25px;
}
#username,
#email,
#password {
  display: flex;
}
#create-btn,
#login-btn {
  display: block;
}
#signin,
#signup {
  display: block;
}
hr {
  margin: auto;
  width: 80%;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-b-10 {
  margin-bottom: 10px;
}
#profile {
  display: none;
}
#profile h2 {
  color: #ffffff;
  text-align: center;
}
h4 {
  text-align: center;
  color: antiquewhite;
}
.time-date {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
#todo-area {
  background-color: #ffffff;
}
#todos{
  border-radius: 10px;
}
.logout {
  display: flex;
  justify-content: center;
}
#logout-btn {
  padding: 10px 10px;
  width: 100px;
  margin: 10px;
}
.add-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#todoadd-btn {
  width: 100px;
  padding: 10px 10px;
}
